In [21]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv("data.csv")
df

   screen  lense  object
0   102.3   43.8      15
1    62.4   23.6      15
2    36.0   20.6      15
3    44.7   22.2      15

In [23]:
for column in df.columns:
    df[column] = df.apply(lambda row: row[column] / 100, axis=1)

df

   screen  lense  object
0   1.023  0.438    0.15
1   0.624  0.236    0.15
2   0.360  0.206    0.15
3   0.447  0.222    0.15

In [24]:
df['b'] = df.screen - df.lense
df['g'] = df.lense - df.object
df

   screen  lense  object      b      g
0   1.023  0.438    0.15  0.585  0.288
1   0.624  0.236    0.15  0.388  0.086
2   0.360  0.206    0.15  0.154  0.056
3   0.447  0.222    0.15  0.225  0.072

In [25]:
df['f'] = (df.b * df.g) / (df.b + df.g)
df

   screen  lense  object      b      g         f
0   1.023  0.438    0.15  0.585  0.288  0.192990
1   0.624  0.236    0.15  0.388  0.086  0.070397
2   0.360  0.206    0.15  0.154  0.056  0.041067
3   0.447  0.222    0.15  0.225  0.072  0.054545

In [26]:
df['V'] = df.b / df.g
df

   screen  lense  object      b      g         f         V
0   1.023  0.438    0.15  0.585  0.288  0.192990  2.031250
1   0.624  0.236    0.15  0.388  0.086  0.070397  4.511628
2   0.360  0.206    0.15  0.154  0.056  0.041067  2.750000
3   0.447  0.222    0.15  0.225  0.072  0.054545  3.125000

In [30]:
dg = 0.01 
db = 0.01

egf = df.b ** 4 * dg ** 2 / (df.b + df.g)**4
ebf = df.g ** 4 * db ** 2 / (df.b + df.g)**4
df['ef'] = np.sqrt(egf + ebf)
df

,screen,lense,object,b,g,f,V,ef,eV,ref,reV
0,1.023,0.438,0.15,0.585,0.288,0.192990,2.031250,0.004620,0.007861,0.002394,0.003870
1,0.624,0.236,0.15,0.388,0.086,0.070397,4.511628,0.006709,0.053734,0.009530,0.011910
2,0.360,0.206,0.15,0.154,0.056,0.041067,2.750000,0.005425,0.052253,0.013209,0.019001
3,0.447,0.222,0.15,0.225,0.072,0.054545,3.125000,0.005769,0.045571,0.010577,0.014583

In [31]:
egV = df.b ** 2 * dg ** 2 / df.g**4
ebV = db ** 2 / df.g**2
df['eV'] = np.sqrt(egV + ebV)
df

,screen,lense,object,b,g,f,V,ef,eV,ref,reV
0,1.023,0.438,0.15,0.585,0.288,0.192990,2.031250,0.004620,0.078613,0.002394,0.003870
1,0.624,0.236,0.15,0.388,0.086,0.070397,4.511628,0.006709,0.537340,0.009530,0.011910
2,0.360,0.206,0.15,0.154,0.056,0.041067,2.750000,0.005425,0.522531,0.013209,0.019001
3,0.447,0.222,0.15,0.225,0.072,0.054545,3.125000,0.005769,0.455708,0.010577,0.014583

In [32]:
df['ref'] = df.ef / df.f
df['reV'] = df.eV / df.V
df

,screen,lense,object,b,g,f,V,ef,eV,ref,reV
0,1.023,0.438,0.15,0.585,0.288,0.192990,2.031250,0.004620,0.078613,0.023941,0.038702
1,0.624,0.236,0.15,0.388,0.086,0.070397,4.511628,0.006709,0.537340,0.095297,0.119101
2,0.360,0.206,0.15,0.154,0.056,0.041067,2.750000,0.005425,0.522531,0.132092,0.190011
3,0.447,0.222,0.15,0.225,0.072,0.054545,3.125000,0.005769,0.455708,0.105769,0.145827